force-app/main/default/flows/TareitaFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CreateAddressCallout.Create Address</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>newAddress</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CreateAddressCallout.Create Address</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>newAddress</name>
        <label>newAddress</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>address.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Address.2XX.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>address.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Address.2XX.streetx5fname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>address.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Address.2XX.streetx5faddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>address.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Address.2XX.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>address.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Address.2XX.postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>address.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Address.2XX.state</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newContact</name>
        <label>newContact</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birthday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>theFinalNewContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>supportContact</name>
        <label>supportContact</label>
        <locationX>308</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SupportContactVariable.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Contact_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Contact_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Contact_Birthday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_contactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_contactAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_contactAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_contactAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_contactAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_contactAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportContactVariable.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supportContactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>theSupportContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isTheContactOlder</name>
        <label>isTheContactOlder</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_a_support_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>60 years or older</defaultConnectorLabel>
        <rules>
            <name>younger_that_60_years</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theAge</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <label>less that 60 years old</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkAge</name>
        <dataType>Number</dataType>
        <expression>ROUND((TODAY() - {!contact.Birthdate}) / 365, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>TareitaFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TareitaFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>theFinalNewContact</name>
        <label>theFinalNewContact</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>isTheContactOlder</targetReference>
        </connector>
        <inputReference>contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>theSupportContact</name>
        <label>theSupportContact</label>
        <locationX>308</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>associateSupport</targetReference>
        </connector>
        <inputReference>SupportContactVariable</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>associateSupport</name>
        <label>associateSupport</label>
        <locationX>308</locationX>
        <locationY>1106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantName</field>
            <value>
                <stringValue>{!SupportContactVariable.FirstName} {!SupportContactVariable.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssistantPhone</field>
            <value>
                <elementReference>SupportContactVariable.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Create_a_new_contact</name>
        <label>Create a new contact</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>newContact</targetReference>
        </connector>
        <fields>
            <name>tituloContacto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Creación del contacto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_a_new_contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_a_new_contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Your name&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Your Last Name&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>contactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El teléfono debe tener exactamente 10 dígitos&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!contactPhone.value}) = 10</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_a_new_contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Birthday</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>contactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El correo ingresado no tiene el formato correcto&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!contactEmail.value},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>contactAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>address.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>address.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>address.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>address.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>address.Street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_support_contact</name>
        <label>Create a support contact</label>
        <locationX>308</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>supportContact</targetReference>
        </connector>
        <fields>
            <name>tituloCreacionContactoAsociado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Creación del contacto asociado&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_a_support_contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_a_support_contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Support_Contact_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Your name&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Support_Contact_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Your Last Name&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>supportContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El teléfono debe tener exactamente 10 dígitos&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!supportContactPhone.value}) = 10</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_a_support_contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Support_Contact_Birthday</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Support_contactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El formato del correo ingresado es incorrecto&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Support_contactEmail.value},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Support_contactAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>address.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>address.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>address.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>address.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>address.Street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SupportContactVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>theAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>checkAge</elementReference>
        </value>
    </variables>
</Flow>
